
caption {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

table {
  border-collapse: separate; 
  border-spacing: 5px; 
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


tfoot td {
  background-color: #e6e6e6;
  font-style: italic;
}


figure {
  margin: 0;
  text-align: center;
}

figcaption {
  margin-top: 5px;
  font-size: 1.2em; 
  font-family: 'Arial', sans-serif;
  font-weight: bold; 
  color: Blue; 
}


col.Usuario,
col.Stand {
}
